html,body{

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    clip: auto;
}
body::-webkit-scrollbar { width: 0 !important }
.div1{
    display: inline-block;
    background-color: brown;
    position: absolute;
    width:100%;
    height:100%;
    z-index: 3;
}
.div2{
    top: 0px;
    left:-1366px;
    display: inline-block;
    background-color: yellow;
    position: absolute;
    width:100%;
    height:100%;
}
.btn1,.btn2{
    position: absolute;
    top: 50%;
}